*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    /* text-decoration: none; */
    list-style: none;
    transition: .3s;
}

#main{
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: black;
    padding: 0 20px;

} 
.header{
    display: flex;
    justify-content: space-between;
}
.header1{
    justify-content:space-between;
    
} 
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

.subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
    /* background-color: orange; */
    /* transition: 10s; */
}

.subnav a{
    transition: .3s;
}
 

.subnav li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.subnav li:last-child {
    border-bottom: none;
}

/* CSS cho mục chính khi hover */
li:hover .subnav {
    display: block;
    
    
}

li:hover{
    color: blue;
}

.header2{
    display: flex;
    padding-top: 25px;
    padding-right: 40px;
}

.header2 p{
    display: block;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 20px;
    
}

.header2 button{
    color: blue;
    border: 1px solid blue;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: none;
    padding: 10px 20px;
    font-weight: 500;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #15558D;
    /* text-align: center; */
    color: white;
    display: flex;
    padding-left: 500px;
    height: 250px;
    padding-top: 20px;
}

.footer-1{
    width: 35%;
}

.footer h4{
    font-size: 30px;
    padding-right: 35px;
}

.footer a{
    color: white;
}

.Menu a{
    transition: .3s;
}

.subnav a:hover{
    color: #15558D;
    
}

.Menu a:hover{
    color: #15558D;
}